*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{font-family: 'ubuntu' , sans-serif;}
.container{
    max-width: 1340px;
    margin: 0 auto;
    padding: 0 10px;
}
.header-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 18px;
    padding-bottom: 18px;
}
.nav-link{
    width: 653;
    height: 28;
    opacity: 1;
    top: 54px;
    left: 680px;
    font-family: 'Ubuntu';
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color:#957554;
    text-decoration: none;
}
.nav-link:hover{ 
    color: black;
    transition: 0.3;
}
.navigation{
    display: flex;
    gap: 45px;
}
.first-section{
    background-image: url(images/main.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 80px;
}
.first-section-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 50px;
}
.main-title{
    font-family: 'ubuntu' sans-serif;
    width: 1010;
    height: 92;
    opacity: 1;
    top: 380px;
    left: 258px;
    font-weight: 700;
    font-size: 80px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;

}
.description,
.button,
.footer-nav-links,
.footer-text a,
.footer-text p{
    width: 473.99998834930443;
    height: 27.99999931177326;
    opacity: 1;
    top: 520.07px;
    left: 484.95px;
    font-family: 'Ubuntu';
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;

}
.button{
    text-decoration: none;
    background-color:  #DFAA5B;
    padding: 25px 133px;
    border-radius: 10px;
}
.secondary-title{
    width: 312;
    height: 52;
    opacity: 1;
    top: 1008px;
    left: 565px;
    font-family: 'Ubuntu';
    font-weight: 500;
    font-size: 45px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #957554;
    text-align: center;
    margin-bottom: 47px;
}
.rooms-card{
    width: 630px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;

}
.image-card > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cards-content{
    position: absolute;
    left: 0;
    bottom: 57px;
    display: flex;
    flex-direction: column;
    gap: 19px;
    align-items: center;
    width: 100%;
}
.card-title{
    color:  #FFFFFF;
    font-family: Ubuntu;
    font-weight: 500;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;

}
.button.button-small{
    padding: 24px 52px 24px 56px;

}
.overlay{
   background: linear-gradient(180deg, rgba(255, 255, 255, 0) 7.48%, #000000 100%);
 position: absolute;
 top: 0;
 bottom: 0;
 left: 0;
 right: 0;
}
.rooms-gallery{
    display: flex;
    gap: 60px;
    flex-wrap: wrap;
    justify-content: center;
}
.second-section{
    margin-bottom: 55px ;
}
.contact-us{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.third-section{
    margin-bottom: 122px;
}
footer{
    background-color:#111111;
    padding: 51px 0 159px;

}
.footer-content{
    display: flex;
    justify-content: space-between;
}
.footer-navigation{
    display: flex;
    flex-direction: column;
    gap: 28px;
}
.footer-nav-links{
    font-weight: 400;
    text-decoration: none;
}
.footer-nav-links:hover,
.footer-text a:hover{
   color:  #DFAA5B;

}
.footer-text a{
    display: block;
    font-weight: 300;
    text-decoration: none;
}
.footer-content img{
    width: 154px;
    height: 126px;
    object-fit: cover;
}
html{
    scroll-behavior: smooth;
}
.news-card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    grid-template-rows: 500px;
    margin-bottom: 50px;
}
.news-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.news-card-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    gap: 44px;

}
.news-card-content h2{
    width: 630;
    height: 46;
    opacity: 1;
    top: 271px;
    left: 750px;
    font-family: Ubuntu;
    font-weight: 500;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #957554;
}
.news-card-content p{
    width: 630;
    height: 186;
    opacity: 1;
    top: 361px;
    left: 750px;
    font-family: Ubuntu;
    font-weight: 500;
    font-style: Medium;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
}
.news-card:nth-child(2n) img{
    order: 1;
}
.news-card:nth-child(2n) .news-card-content{
    align-items: end;
}
.news-card:nth-child(2n) .news-card-content p{
    text-align: right;
}
.news-card:last-child{
    margin-bottom: 107px;
}
.gallery-grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows:repeat(2, 500px);
    gap: 30px;
    margin-bottom: 104px;
}
.gallery-grid img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: all 0.3s;
}
.gallery-grid img:first-child{
    grid-area: 1/1/2/4;
}
.gallery-grid img:nth-child(2){
    grid-area: 1/4/2/6;
}
.gallery-grid img:nth-child(3){
    grid-area: 2/1/3/3;
}
.gallery-grid img:nth-child(4){
    grid-area: 2/3/3/6;
}
.gallery-grid img:hover{
 transform: scale(1.5);
}